
/* HELPFUL RESOURCES */
/* 1. https://css-tricks.com/solved-with-css-colorizing-svg-backgrounds/ */
/* 2. https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-a-div-is-hovered
(top answer about selecting multiple elements with CSS) */
/* 3. https://www.sitepoint.com/set-css-margins-padding-cool-layout-tricks/
(explains how to set the 'box-sizing' attr so that padding is included in the
width of an element) */

/* ======================= TOP LEVEL STYLING======================= */

/* 1. Set font. */
/* 2. Make 'Return to top' scrolling smooth */
html {
  /* 1. */
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  /* 2. */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * 1. Center margin for main content in all browsers.
 * 2. Centre align text
 * 3. Define min and max page display widths.
 * 4. Apply background colour and viewport padding.
 */

body {
  /* 1. */
  margin: auto;
  /* 2. */
  text-align: center;
  /* 3. */
  min-width: 100px;
  max-width: 800px;
  /* 4. */
  background: #2f2f2f;
  padding: 20px;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.35;
  color: #111;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {
  /* font-size: 1.728em; */
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

hr {
  width: 80%;
  border: 1px solid #5d5d60;
}

/* =======================MAIN CONTENT STYLING======================= */

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.pageBreak {
  position: relative;
  width: 100%;
  z-index: 0;
}

.rippedEdge {
  position: relative;
  background: transparent;
  /*===THIS Z-INDEX IS IMPORTANT===*/
  z-index: 1;
}

.rippedBottomMargin {
  margin-bottom: -22px;
}

.rippedPaperTop {
  preserveAspectRatio: none
  position: relative;
  margin-bottom: -11px;
  /* display: block; */
  width: 100%;
  height: 25px;
  fill: #ffffff;
  transform: scaleY(1);
  transition: all 0.25s ease;
  cursor: pointer;
  animation: pulseSVG 3s infinite;
  z-index: 3;
}

.rippedPaperBottom {
  preserveAspectRatio: none
  position: relative;
  margin-top: -7px;
  top: 0;
  left: 0;
  /* display: block; */
  width:100%;
  height: 25px;
  fill: #ffffff;
  transform: scaleY(1);
  transition: all 0.25s ease;
  cursor: pointer;
  animation: pulseSVG 3s infinite;
  z-index: 2;
}

@keyframes pulseSVG {
  0% {
    fill: #fdfdfd;
  }
  50% {
    fill: #ccc;
  }
  100% {
    fill: #fdfdfd;
  }
}

.pageBreak:hover .rippedPaperBottom, .pageBreak:hover .rippedPaperTop {
  /* transition: all 0.25s ease; */
  fill: #fdfdfd;
  animation-name: none;
}

.fillGap {
  position: absolute;
  display: block;
  background: #fdfdfd;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  box-shadow: 5px 10px 10px 0px #000000;
  animation: pulseFillGap 3s infinite;
}

@keyframes pulseFillGap {
  0% {
    background: #fdfdfd;
  }
  50% {
    background: #ccc;
  }
  100% {
    background: #fdfdfd;
  }
}

.pageBreak:hover .fillGap {
  animation-name: none;
}

/* .open {
  fill: #ccc;
  animation-play-state: paused;
} */

.tearLine {
  preserveAspectRatio: none
  position: relative;
  margin-top: -25px;
  margin-bottom: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  transform: scaleY(1);
  cursor: pointer;
  z-index: -1;
}

.hidden {
  display: none;
}

.rippedPaperEdge {
  preserveAspectRatio: none
  position: relative;
  fill: none;
  margin-top: -4px;
  margin-bottom: 0px;
  width:100%;
  height: 25px;
  transform: scaleY(1);
  cursor: pointer;
  z-index: 4;
}

.rippedPaperEdgePath {
  preserveAspectRatio: none
  position: relative;
  fill: none;
  margin-top: -4px;
  margin-bottom: 0px;
  width:100%;
  height: 25px;
  transform: scaleY(1);
  transition: all 0.25s ease;
  cursor: pointer;
  z-index: 5;
}

.pageBreak:hover .rippedPaperEdgePath {
  stroke: #2f2f2f;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: dash 1.5s forwards linear;
  z-index: 6;
}

@keyframes dash {
  from {
    stroke-dashoffset: 870;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.active svg {
  fill: #ccc;
  animation-name: none;
}

.header {
  width: 100%;
  position: relative;
  background: #fdfdfd;
  padding: 3.5em 3.5em 0em 3.5em;
  box-shadow: 5px 10px 10px 0px #000000;
}

.hiddenHeader {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.education {
  text-align: left;
  position: relative;
  width: 100%;
  padding: 0em 3.5em 0em 3.5em;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;

}

.hiddenEducation {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.higherEducation {
  position: relative;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;
}

.hiddenHigherEducation {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.teaching {
  position: relative;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;
}

.hiddenTeaching {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.marketing {
  position: relative;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;
}

.hiddenMarketing {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.hobbies {
  position: relative;
  padding-top: 20px;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;
}

.hiddenHobbies {
  display: none;
  position: relative;
  background: orange;
  margin-top: 22px;
  width: 100%;
  outline: 1px solid yellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footer {
  width: 100%;
  position: relative;
  background: #fdfdfd;
  box-shadow: 5px 10px 10px 0px #000000;
}

div.allScenes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*====================== SVG ADVENTURE ANIMATIONS ================*/

/*====================== SCENE ONE ANIMATIONS ================*/

g.sceneOne .bobbyBike .frontWheel {
  animation: DoRotate 1.5s infinite linear;
  transform-origin: 55.05% 86.45%;
  /* background: red; */
}

g.sceneOne .bobbyBike .backWheel {
  animation: DoRotate 1s infinite linear;
  transform-origin: 40.09% 86.45%;
}

@keyframes DoRotate {
  to {
    transform: rotate(360deg);
  }
}

g.sceneOne .scenery{
  animation: moveSceneOneBackground 2s linear infinite;
}

g.sceneOne .scenery2{
  animation: moveSceneOneBackground 2s linear infinite;
  /* animation-delay: 2s; */
}

@keyframes moveSceneOneBackground {
  to {
    transform: translateX(-589px);
  }
}

/* ============== SCENE TWO ANIMATIONS ================== */

g.sceneTwo .tubeInterior .tubeCarriage .tubeDoors .leftDoor {
  animation: closeLeftDoor 0.5s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

g.sceneTwo .tubeInterior .tubeCarriage .tubeDoors .rightDoor {
  animation: closeRightDoor 0.5s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes closeLeftDoor {
  to {
    transform: translateX(85px);
  }

}

@keyframes closeRightDoor {
  to {
    transform: translateX(-85px);
  }
}

g.sceneTwo .tubeExterior {
  animation: moveTubeStation 8s cubic-bezier(0.5,0.00,1,0.5);
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes moveTubeStation {
  to {
    transform: translateX(-3000px);
  }
}

g.sceneTwo .tunnelWallOne {
  animation: moveTubeTunnel 4.8s linear infinite;
  /* animation-delay: 4s; */
}

g.sceneTwo .tunnelWallTwo {
  animation: moveTubeTunnel 4.8s linear infinite;
  animation-delay: 2.4s;
}

@keyframes moveTubeTunnel {
  to {
    transform: translateX(-1190.558px);
  }
}

@keyframes hideSnoring {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateX(10px);
  }

  90% {
    transform: scale(1.0);
    transform: translateX(50px);
  }

  100% {
    transform: scale(1.0);
    opacity: 0;

  }
}

g.sceneTwo .snoring .z1 {
  animation: hideSnoring 3s ease infinite;
}

g.sceneTwo .snoring .z2 {
  animation: hideSnoring 3s ease infinite;
  animation-delay: 0.1s;
}

g.sceneTwo .snoring .z3 {
  animation: hideSnoring 3s ease infinite;
  animation-delay: 0.2s;
}

g.sceneTwo .snoring .z4 {
  animation: hideSnoring 3s ease infinite;
  animation-delay: 0.3s;
}

g.sceneTwo .snoring .z5 {
  animation: hideSnoring 3s ease infinite;
  animation-delay: 0.4s;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  50% {
  transform: scale(1.1);
}
100% {
  transform: scale(0.9);
}
}

g.sceneTwo .tubeInterior .mouth {
  animation: breathing 3s ease infinite;
  transform-origin: center center;
}

/* ================== SCENE THREE ANIMATIONS =================== */
.headLeftHidden {
  visibility: hidden;
}

.headRightHidden {
  visibility: hidden;
}

.headTurnedHidden {
  visibility: hidden;
}
