/* HELPFUL RESOURCES */
/* 1. https://css-tricks.com/solved-with-css-colorizing-svg-backgrounds/ */
/* 2. https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-a-div-is-hovered
(top answer about selecting multiple elements with CSS) */
/* 3. https://www.sitepoint.com/set-css-margins-padding-cool-layout-tricks/
(explains how to set the 'box-sizing' attr so that padding is included in the
width of an element) */
/* 4. https://stackoverflow.com/questions/9576924/keep-background-image-centered-when-resizing-browser-window
(how to keep background image centered while resizing browser window)

/* ======================= TOP LEVEL STYLING======================= */

/* 1. Set font. */
/* 2. Make 'Return to top' scrolling smooth */

html {
    /* 1. */
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 400;
    /* 2. */
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.84);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /**
   * 1. Center margin for main content in all browsers.
   * 2. Centre align text
   * 3. Define min and max page display widths.
   * 4. Apply background colour and viewport padding.
   */
  
  body {
    /* 1. */
    margin: auto;
    /* 2. */
    text-align: center;
    /* 3. */
    /* min-width: 400px; */
    max-width: 840px;
    /* 4. */
    /* background: #2f2f2f; */
    /* background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    display: flex;
    flex-direction: column;
    background-color: #c18e67;
    background-image: url(/assets/desk_background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  
    /* background-size: cover; */
    padding: 20px;
  }
  
  p {
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  
  strong {
    font-weight: 800;
  }
  
  em {
    font-style: italic;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 1.414em 0 0.5em;
    line-height: 1.35;
    color: #111;
    font-weight: 400;
    font-family: "Permanent Marker", cursive;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.6em;
  }
  
  h3 {
    font-size: 1.4em;
  }
  
  h4 {
    font-size: 1.2em;
  }
  
  hr {
    width: 100%;
    border: 1px solid #5d5d60;
  }
  
  span.italic {
    font-style: italic;
  }
  
  ul {
    margin-top: 0em;
    margin-bottom: 1.3em;
  }
  
  li {
    line-height: normal;
  }
  
  /* =======================MAIN CONTENT STYLING======================= */
  nav {
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .tabRow,
  .menuTabs {
    position: relative;
    display: flex;
    color: #111;
    padding: 0;
    margin: 0 10px;
    list-style: none;
    font-size: 1.4em;
  }
  
  .tabRow:before,
  .menuTabs:before {
    z-index: 1;
  }
  
  .tabRow:after .menuTabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    /* border-bottom: 1px solid blue; */
    z-index: 1;
  }
  
  .tabRow li {
    font-family: "Permanent Marker", cursive;
    display: inline;
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin: 0 2px;
    padding: 0 0 0 0;
    background: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 0;
    box-shadow: 5px 10px 10px 0px #000000;
    width: 100px;
  }
  
  .tabRow li:before,
  .tabRow li:after,
  .menuTabs li:before,
  .menuTabs li:after {
    position: absolute;
    bottom: 2px;
    width: 6px;
    height: 6px;
    content: " ";
    /* border: 1px solid #AAA; */
  }
  
  .tabRow li:before,
  .menuTabs li:before {
    left: -5.5px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 0 #ffffff;
    /* transform: translateY(-3px); */
  }
  .tabRow li:after,
  .menuTabs li:after {
    right: -5.7px;
    border-bottom-left-radius: 6px;
    box-shadow: -2px 2px 0 #ffffff;
    /* transform: translateY(-3px); */
  }
  
  .tabRow li:hover,
  .menuTabs li:hover {
    transform: translateY(-3px);
  }
  
  .tabRow li:hover:before,
  .menuTabs li:hover:before {
    box-shadow: 2px 2px 0;
    transform: translateY(3px);
  }
  
  .tabRow li:hover:after,
  .menuTabs li:hover:after {
    box-shadow: -2px 2px 0;
    transform: translateY(3px);
  }
  
  .tabRow li:nth-child(1) {
    background: #afec6a;
  }
  
  .tabRow li:nth-child(1):before {
    box-shadow: 2px 2px 0 #afec6a;
  }
  
  .tabRow li:nth-child(1):after {
    box-shadow: -2px 2px 0 #afec6a;
  }
  
  .tabRow li:nth-child(2) {
    background: #faf557;
  }
  
  .tabRow li:nth-child(2):before {
    box-shadow: 2px 2px 0 #faf557;
  }
  
  .tabRow li:nth-child(2):after {
    box-shadow: -2px 2px 0 #faf557;
  }
  
  .tabRow li:nth-child(3) {
    background: #7fd9cf;
  }
  
  .tabRow li:nth-child(3):before {
    box-shadow: 2px 2px 0 #7fd9cf;
  }
  
  .tabRow li:nth-child(3):after {
    box-shadow: -2px 2px 0 #7fd9cf;
  }
  
  .tabRow li:nth-child(4) {
    background: #fe9bba;
    margin-right: 11px;
  }
  
  .tabRow li:nth-child(4):before {
    box-shadow: 2px 2px 0 #fe9bba;
  }
  
  .tabRow li:nth-child(4):after {
    box-shadow: -2px 2px 0 #fe9bba;
  }
  
  .tabRow a {
    display: block;
    color: #111;
    text-decoration: none;
    padding: 15px 10px 15px 10px;
    line-height: inherit;
  }
  
  .menuTabs li {
    display: block;
    position: relative;
    top: 3px;
    margin: 0 2px;
    padding: 20px 20px 10px 20px;
    background: #faf557;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 0;
    cursor: pointer;
    box-shadow: 5px 10px 10px 0px #000000;
  }

  .menuTabs li:nth-child(1) {
    fill: #fff197;
    transform: translateY(-3px);
  }

  .menuTabs li:nth-child(3) {
    fill: #b500fa;
    transform: translateY(-3px);
    margin-right: 6px;
  }
  
  .menuTabs li:nth-child(1):before, .menuTabs li:nth-child(3):before {
    transform: translateY(3px);
  }
  
  .menuTabs li:nth-child(1):after, .menuTabs li:nth-child(3):after {
    transform: translateY(3px);
  }
  
  /* .menuTabs li:nth-child(1) {
    background: red;
  }
  
  .menuTabs li:nth-child(1):before {
    box-shadow: 2px 2px 0 red;
  }
  
  .menuTabs li:nth-child(1):after {
    box-shadow: -2px 2px 0 red;
  } */
  
  /* .menuTabs a {
    text-decoration: none;
    padding: 20px 10px 15px 10px;
  } */
  
  .menuTabs svg {
    width: 30px;
    height: 30px;
  }
  
  .moonIcon:hover,
  .menuTabs li:nth-child(1):hover {
    fill: #fff197;
  }
  
  .menuTabs li:nth-child(1):before {
    box-shadow: 2px 2px 0 #faf557;
  }
  
  .menuTabs li:nth-child(1):after {
    box-shadow: -2px 2px 0 #faf557;
  }
  
  .knightIcon:hover,
  .menuTabs li:nth-child(2):hover {
    fill: #a24500;
  }
  
  .menuTabs li:nth-child(2):before {
    box-shadow: 2px 2px 0 #faf557;
  }
  
  .menuTabs li:nth-child(2):after {
    box-shadow: -2px 2px 0 #faf557;
  }
  
  .tetrisSprite:hover,
  .menuTabs li:nth-child(3):hover {
    fill: #b500fa;
  }
  
  .menuTabs li:nth-child(3):before {
    box-shadow: 2px 2px 0 #faf557;
  }
  
  .menuTabs li:nth-child(3):after {
    box-shadow: -2px 2px 0 #faf557;
  }
  
  .fileDivider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #faf557;
    border-radius: 5px 5px 0 0;
    padding: 10px 25px 10px 25px;
    /* max-height: 52px; */
    z-index: 0;
    box-shadow: 5px 10px 10px 0px #000000;
  }
  
  .blog__create-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .blog__login-options {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .blog__login-options > *:nth-child(3) {
    margin: 0px 25px 0px 0px;
  }
  
  .blog__create-options *:not(:first-child) {
    margin-left: 15px;
  }
  
  .user-profile {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .user-profile > *:first-child {
    margin: 0px 15px 0px 0px;
  }
  
  .blog__profile-options--display {
    position: absolute;
    top: 42px;
    width: 100%;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    list-style-type: none;
    background: white;
    padding: 0;
  }
  
  .blog__profile-options--hidden {
    display: none;
  }
  
  /* .blog__login-options > *:nth-child(2) {
    margin: 0px 10px 0px 0px;
  }
  
  .blog__login-options details {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .blog__login-options summary {
    list-style-image: url(/assets/down-arrow.svg);
    position: absolute;
    top: 0px;
  }
  .blog__login-options details[open] summary {
    list-style-image: url(/assets/up-arrow.svg);
    position: absolute;
    top: 5px;
  }
  
  .blog__login-options details[open] {
  }
  
  .blog__login-options summary::-webkit-details-marker {
    background: url(/assets/down-arrow.svg);
    color: transparent;
    position: absolute;
    top: 0px;
  }
  
  .blog__login-options details[open] summary::-webkit-details-marker {
    background: url(/assets/up-arrow.svg);
    position: absolute;
    top: 5px;
  } */
  
  .blog-post__author-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .blog-post__date-time-details {
    display: flex;
    flex-direction: row;
  }
  
  .blog-post__post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #757575;
  }
  
  .blog-post__post-details > * {
    margin: 0 0 0 10px;
  }
  
  .main-image-browser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .main-image-browser div {
    margin-left: 5px;
  }
  
  .main-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    /* background: blue; */
    border-radius: 5px;
    object-fit: contain;
    overflow: hidden;
    font-size: 0.7em;
  }
  
  .main-image-container p {
    text-align: center;
  }
  
  .main-image-container img {
    width: 100%;
  }
  
  .main-image-container:hover {
    background: #cccccc;
    cursor: pointer;
  }
  
  .landing-screen__intro {
    font-family: "Permanent Marker", cursive;
  }
  
  .landing-screen__intro--typed {
    font-size: 1.5em;
  }
  
  .landing-screen__intro--typed::after {
    content: "▋";
    display: inline;
    -webkit-animation: 0.7s infinite blink;
    animation: 0.7s infinite blink;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .pageBreak {
    position: relative;
    width: 100%;
    z-index: 0;
    text-align: center;
  }
  
  .instruction {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    color: #2f2f2f;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 5;
    pointer-events: none;
    animation: pulseInstruction 3s infinite;
  }
  
  @keyframes pulseInstruction {
    0% {
      color: #fdfdfd;
    }
    50% {
      color: #2f2f2f;
    }
    100% {
      color: #fdfdfd;
    }
  }
  
  .pageBreak:hover .instruction {
    animation-name: none;
    /* display: none; */
    visibility: hidden;
  }
  
  .rippedEdge {
    position: relative;
    background: transparent;
    /*===THIS Z-INDEX IS IMPORTANT===*/
    z-index: 0;
  }
  
  .rippedBottomMargin {
    margin-bottom: -22px;
  }
  
  .rippedPaperTop {
    preserveaspectratio: none;
    position: relative;
    margin-bottom: -11px;
    width: 100%;
    height: 25px;
    fill: #ffffff;
    transform: scaleY(1);
    transition: all 0.25s ease;
    cursor: pointer;
    animation: pulseSVG 3s infinite;
    z-index: -1;
  }
  
  .rippedPaperBottom {
    preserveaspectratio: none;
    position: relative;
    margin-top: -7px;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    fill: #ffffff;
    transform: scaleY(1);
    transition: all 0.25s ease;
    cursor: pointer;
    animation: pulseSVG 3s infinite;
    z-index: 0;
  }
  
  @keyframes pulseSVG {
    0% {
      fill: #fdfdfd;
    }
    50% {
      fill: #ccc;
    }
    100% {
      fill: #fdfdfd;
    }
  }
  
  .pageBreak:hover .rippedPaperBottom,
  .pageBreak:hover .rippedPaperTop {
    fill: #fdfdfd;
    animation-name: none;
  }
  
  .fillGap {
    position: absolute;
    display: block;
    background: #fdfdfd;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    box-shadow: 5px 10px 10px 0px #000000;
    animation: pulseFillGap 3s infinite;
    z-index: -1;
  }
  
  @keyframes pulseFillGap {
    0% {
      background: #fdfdfd;
    }
    50% {
      background: #ccc;
    }
    100% {
      background: #fdfdfd;
    }
  }
  
  .pageBreak:hover .fillGap {
    animation-name: none;
  }
  
  .tearLine {
    preserveaspectratio: none;
    position: relative;
    margin-top: -25px;
    margin-bottom: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    transform: scaleY(1);
    cursor: pointer;
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }
  
  .rippedPaperEdge {
    preserveaspectratio: none;
    position: relative;
    fill: none;
    margin-top: -4px;
    margin-bottom: 0px;
    width: 100%;
    height: 25px;
    transform: scaleY(1);
    cursor: pointer;
    z-index: 2;
  }
  
  .rippedPaperEdgePath {
    preserveaspectratio: none;
    position: relative;
    fill: none;
    margin-top: -4px;
    margin-bottom: 0px;
    width: 100%;
    height: 25px;
    transform: scaleY(1);
    transition: all 0.25s ease;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
  }
  
  .pageBreak:hover .rippedPaperEdgePath {
    stroke: #2f2f2f;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: dash 1.5s forwards linear;
    z-index: 4;
  }
  
  @keyframes dash {
    from {
      opacity: 1;
      stroke-dashoffset: 870;
    }
    to {
      opacity: 1;
      stroke-dashoffset: 0;
    }
  }
  
  .active svg {
    fill: #ccc;
    animation-name: none;
  }
  
  .active {
    z-index: 999;
    cursor: pointer;
  }
  
  .header {
    width: 100%;
    position: relative;
    background: #fdfdfd;
    /* padding: 5em 5em 0em 5em; */
    padding: 80px 80px 0em 80px;
    /* padding: 2.5em 5vw 0em 5vw; */
    box-shadow: 5px 10px 10px 0px #000000;
    /* text-align: left; */
  }
  
  .hiddenHeader {
    display: none;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .introNote {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 0em 3em 2em 3em;
    display: flex;
    flex-direction: column;
    background: #f9f4ab;
  }
  
  .introNote:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -25px;
    background: url(/assets/tape.svg) bottom center;
    background-size: 100% 100%;
    opacity: 0.7;
    transform: rotate(-6deg);
  }
  
  .introNote:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -25px;
    background: url(/assets/tape.svg) bottom center;
    background-size: 100% 100%;
    opacity: 0.7;
  }
  
  .introNoteTitle {
    position: relative;
    width: 100%;
  }
  
  .introNoteContent {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: left;
  }

  .introNoteContent h3 {
    text-align: center;
  }
  
  .introOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .introIconOne {
    position: relative;
    width: 30%;
    order: 1;
  }
  
  .introTextOne {
    margin-left: 50px;
    position: relative;
    width: 70%;
    order: 2;
  }
  
  .introTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .introIconTwo {
    position: relative;
    width: 30%;
    order: 2;
  }
  
  .introTextTwo {
    margin-right: 50px;
    position: relative;
    width: 70%;
    order: 1;
  }
  
  .education,
  .experience,
  .skills,
  .interests,
  .whyCoding,
  .whyFAC {
    text-align: left;
    line-height: 0.5em;
    position: relative;
    width: 100%;
    padding: 0em 5em 0em 5em;
    background: #fdfdfd;
    box-shadow: 5px 10px 10px 0px #000000;
  }
  
  .hiddenEducation {
    display: none;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    z-index: 1;
  }
  
  .hiddenExperience {
    display: none;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    z-index: 1;
  }
  
  .hiddenSkills {
    display: none;
    position: relative;
    margin-top: 22px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .webSkillz {
    position: relative;
    margin-top: -40px;
    margin-bottom: 20px;
    width: 100%;
    preserveaspectratio: none;
  }
  
  .hiddenInterests {
    display: none;
    margin-top: 30px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .hiddenWhyFAC {
    display: none;
    position: relative;
    margin-top: 30px;
    /* margin-bottom: 15px; */
    width: 100%;
    height: auto;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .calculator {
    max-width: 90%;
    height: 500px;
    margin: 0 auto;
    background: url(/assets/calculator.svg);
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  .hiddenWhyCoding {
    display: none;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .firstCode {
    position: relative;
    width: 95%;
    margin: 0 auto;
    /* margin-top: 1em; */
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .helloWorldScreengrab {
    width: 31.3%;
    height: auto;
    /* margin-right: 5%; */
  }
  
  #helloWorld {
    width: 100%;
  }
  
  .helloWorldReaction {
    width: 68.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* object-fit: contain; */
  }
  
  #wizardGIF,
  #whatGIF {
    width: 100%;
    /* max-height: 200px; */
  }
  
  /* #helloWorld {
    width: 25%;
  } */
  
  .footer {
    width: 100%;
    position: relative;
    background: #fdfdfd;
    box-shadow: 5px 10px 10px 0px #000000;
    padding: 0 5em;
  }
  
  .socialIcons {
    width: 300px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .socialIcons a {
    width: calc(20% - 1em);
    height: 45px;
    margin-right: 1em;
  }
  
  .socialIcons a:nth-of-type(5n) {
    margin-right: 0em;
  }
  
  .githubIcon,
  .twitterIcon,
  .linkedinIcon,
  .freecodecampIcon {
    fill: #111;
    opacity: 0.5;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-right: 1em;
    width: 100%;
    height: 100%;
  }
  
  #twitterIconForeground {
    fill: #ffffff;
  }
  
  #freecodecampIconForeground {
    fill: #ffffff;
  }
  
  .codewarsIcon {
    fill: #111;
    opacity: 0.5;
    transition: all 0.25s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .githubIcon:hover,
  .twitterIcon:hover,
  .linkedinIcon:hover,
  .freecodecampIcon:hover,
  .codewarsIcon:hover {
    fill: #191717;
    opacity: 1;
    cursor: pointer;
  }
  
  /*====================== SVG ADVENTURE ANIMATIONS ================*/
  
  .storyContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    z-index: 2;
  }
  
  .caption {
    font-family: "Permanent Marker", cursive;
    font-size: 28px;
    font-weight: 400;
    margin-top: -50px;
  }
  
  #sceneOne {
    preserveaspectratio: xMidYMid meet;
    max-width: 390px;
    max-height: 285px;
    border-top: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 70px solid white;
    box-sizing: content-box;
    /* width: 297.640px;
    height: 223.289px; */
  }
  
  .panelOne {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
    transform: rotate(2deg);
    order: 1;
  }
  
  .storyOne {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0em 1em 0em 1em;
    background: #a1d350;
    order: 2;
    margin-right: 10px;
    transform: rotate(-2deg);
  }
  
  .storyOne:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -13px;
    background: url(/assets/green_postit.svg) bottom center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  #sceneTwo {
    preserveaspectratio: xMidYMid meet;
    max-width: 390px;
    max-height: 285px;
    border-top: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 70px solid white;
    box-sizing: content-box;
    /* width: 297.640px;
    height: 223.289px; */
  }
  
  .panelTwo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 10px;
    margin-top: -10px;
    transform: rotate(-2deg);
    order: 2;
  }
  
  .storyTwo {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    background: #ffff00;
    margin-left: 10px;
    transform: rotate(2deg);
    order: 1;
  }
  
  .storyTwo:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -13px;
    background: url(/assets/yellow_postit.svg) bottom center;
    background-size: 100% 100%;
  }
  
  #sceneThree {
    preserveaspectratio: xMidYMid meet;
    max-width: 390px;
    max-height: 262px;
    border-top: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 70px solid white;
    box-sizing: content-box;
    /* width: 297.640px;
    height: 223.289px; */
    /* z-index: 3; */
  }
  
  .storyThree {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    background: #95d5cd;
    order: 2;
    margin-left: -10px;
    transform: rotate(-2deg);
    z-index: 4;
  }
  
  .storyThree:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -13px;
    background: url(/assets/blue_postit.svg) bottom center;
    background-size: 100% 100%;
  }
  
  #sceneFour {
    preserveaspectratio: xMidYMid meet;
    max-width: 380px;
    max-height: 285px;
    border-top: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 70px solid white;
    box-sizing: content-box;
    /* width: 297.640px;
    height: 223.289px; */
  }
  
  .storyFour {
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    background: #d277b0;
    margin-left: 10px;
    transform: rotate(2deg);
    order: 1;
  }
  
  .storyFour:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: -13px;
    background: url(/assets/pink_postit.svg) bottom center;
    background-size: 100% 100%;
  }
  /*====================== SCENE ONE ANIMATIONS ================*/
  
  g.sceneOne .bobbyBike .frontWheel {
    animation: DoRotate 1.5s infinite linear;
    transform-origin: 55.05% 86.45%;
    /* background: red; */
  }
  
  g.sceneOne .bobbyBike .backWheel {
    animation: DoRotate 1s infinite linear;
    transform-origin: 40.09% 86.45%;
  }
  
  @keyframes DoRotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  g.sceneOne .scenery {
    animation: moveSceneOneBackground 2s linear infinite;
  }
  
  g.sceneOne .scenery2 {
    animation: moveSceneOneBackground 2s linear infinite;
    /* animation-delay: 2s; */
  }
  
  @keyframes moveSceneOneBackground {
    to {
      transform: translateX(-589px);
    }
  }
  
  /* ============== SCENE TWO ANIMATIONS ================== */
  
  g.sceneTwo .tubeInterior .tubeCarriage .tubeDoors .leftDoor {
    animation: closeLeftDoor 0.5s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  g.sceneTwo .tubeInterior .tubeCarriage .tubeDoors .rightDoor {
    animation: closeRightDoor 0.5s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes closeLeftDoor {
    to {
      transform: translateX(85px);
    }
  }
  
  @keyframes closeRightDoor {
    to {
      transform: translateX(-85px);
    }
  }
  
  g.sceneTwo .tubeExterior {
    animation: moveTubeStation 8s cubic-bezier(0.5, 0, 1, 0.5);
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveTubeStation {
    to {
      transform: translateX(-3000px);
    }
  }
  
  g.sceneTwo .tunnelWallOne {
    animation: moveTubeTunnel 4.8s linear infinite;
    /* animation-delay: 4s; */
  }
  
  g.sceneTwo .tunnelWallTwo {
    animation: moveTubeTunnel 4.8s linear infinite;
    animation-delay: 2.4s;
  }
  
  @keyframes moveTubeTunnel {
    to {
      transform: translateX(-1190.558px);
    }
  }
  
  @keyframes hideSnoring {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
      transform: translateX(10px);
    }
  
    90% {
      transform: scale(1);
      transform: translateX(50px);
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  g.sceneTwo .snoring .z1 {
    animation: hideSnoring 3s ease infinite;
  }
  
  g.sceneTwo .snoring .z2 {
    animation: hideSnoring 3s ease infinite;
    animation-delay: 0.1s;
  }
  
  g.sceneTwo .snoring .z3 {
    animation: hideSnoring 3s ease infinite;
    animation-delay: 0.2s;
  }
  
  g.sceneTwo .snoring .z4 {
    animation: hideSnoring 3s ease infinite;
    animation-delay: 0.3s;
  }
  
  g.sceneTwo .snoring .z5 {
    animation: hideSnoring 3s ease infinite;
    animation-delay: 0.4s;
  }
  
  @keyframes breathing {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
  g.sceneTwo .tubeInterior .mouth {
    animation: breathing 3s ease infinite;
    transform-origin: center center;
  }
  
  /* ================== SCENE THREE ANIMATIONS =================== */
  
  .headLeftHidden {
    visibility: hidden;
  }
  
  .headRightHidden {
    visibility: hidden;
  }
  
  .headTurnedHidden {
    visibility: hidden;
  }
  
  .girlMocking {
    animation: hideGirl 6s infinite;
  }
  
  .boyMocking {
    animation: hideBoy 6s infinite;
  }
  
  @keyframes hideGirl {
    0% {
      transform: translateX(0%);
    }
  
    5% {
      transform: translateX(-50%);
    }
  
    55% {
      transform: translateX(-50%);
    }
  
    65% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes hideBoy {
    0% {
      transform: translateY(20%);
    }
  
    5% {
      transform: translateY(0%);
    }
  
    45% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(20%);
    }
  
    100% {
      transform: translateY(20%);
    }
  }
  
  /* ================== SCENE FOUR ANIMATIONS =================== */
  
  g.boardroom .audience .clickOne {
    animation: typingOne 1s ease infinite;
  }
  
  g.boardroom .audience .clackTwo {
    animation: typingOne 3s ease infinite;
  }
  
  /* @keyframes typingOne {
    0% {
      opacity: 1;
    }
  
    20% {
      transform: translateX(0.5%);
      opacity: 0.8;
    }
  
    90% {
      transform: scale(1.0);
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1.0);
      transform: translateX(0.5%);
      transform: scale(1.0);
      opacity: 0.5;
  
    }
  } */
  
  /*============== IMAGE CAROUSEL ===============*/
  .image-carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: auto;
  }
  
  #carousel-container {
    /* perspective: 50em; */
    position: relative;
    width: 100%;
    /* height: auto; */
    /* top: 50%;
    left: 100px; */
    /* height: 400px; */
    /* width: 80%; */
    /* padding-top: 150px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /*   padding: 5px; */
  }
  
  #carouselImages {
    /* transform: rotateY(-50deg); */
    /* height: 400px; */
    width: 100%;
    /* height: auto; */
    /* order:2; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
    overflow: hidden;
    /*   margin: 5px; */
  }
  
  .img1,
  .img2,
  .img3,
  .img4 {
    object-fit: contain;
    object-position: center center;
    background-color: rgba(47, 47, 47, 0.3);
    width: 100%;
  }
  
  .position1 {
    position: relative;
    order: 1;
  }
  
  .position2 {
    position: relative;
    order: 2;
  }
  
  .position3 {
    position: relative;
    order: 3;
  }
  
  .position4 {
    position: relative;
    order: 4;
  }
  
  .positionMinus1 {
    position: relative;
    order: -1;
  }
  
  .positionMinus2Offset {
    position: relative;
    left: -100%;
    order: -2;
  }
  
  .positionMinus1Offset {
    position: relative;
    left: -100%;
    order: -1;
  }
  
  .position1Offset {
    position: relative;
    left: -100%;
    order: 1;
  }
  
  .position1DoubleOffset {
    position: relative;
    left: -200%;
    order: 1;
  }
  
  .animate {
    animation: moveImageLeft1 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animate2 {
    animation: moveImageLeft2 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animate3 {
    animation: moveImageLeft3 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animate4 {
    animation: moveImageLeft4 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveImageLeft1 {
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes moveImageLeft2 {
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes moveImageLeft3 {
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes moveImageLeft4 {
    to {
      transform: translateX(-100%);
    }
  }
  
  .animateRight {
    animation: moveImageRight1 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animateRight2 {
    animation: moveImageRight2 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animateRight3 {
    animation: moveImageRight3 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  .animateRight4 {
    animation: moveImageRight4 0.5s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveImageRight1 {
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveImageRight2 {
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveImageRight3 {
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveImageRight4 {
    to {
      transform: translateX(100%);
    }
  }
  
  /*CAROUSEL 'SKIP TO' BUTTONS*/
  
  #carouselButtons {
    /* height: 20px;
    width: 750px; */
    /* width: 80%; */
    /* margin-top: 5px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #arrL-carousel {
    width: 40%;
    order: 1;
    /* flex-shrink: 1;
    flex-grow: 9; */
  }
  
  #shuffleButtons {
    width: 20%;
    order: 2;
    /* flex-shrink: 9;
    flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fdfdfd;
    opacity: 0.8;
    transition: all 0.25s ease;
  }
  
  #shuffleButtons:hover {
    opacity: 1;
  }
  
  #shuffleButtons.active {
    opacity: 1;
  }
  
  #arrR-carousel {
    width: 40%;
    order: 3;
    /* flex-shrink: 1;
    flex-grow: 9; */
  }
  
  #leftButton,
  #rightButton {
    background-color: #fdfdfd;
    font-size: 2em;
    color: #2f2f2f;
    width: 100%;
    height: 3em;
    opacity: 0.5;
    border: none;
    transition: all 0.25s ease;
  }
  
  #leftButton:hover,
  #rightButton:hover {
    background-color: #2f2f2f;
    color: white;
    cursor: pointer;
  }
  
  #leftButton:focus,
  #rightButton:focus {
    outline: 0;
  }
  
  #autoplay {
    display: none;
  }
  
  #autoplay + label {
    width: 100%;
    height: 100%;
    background: url(/assets/play.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 0.5;
  }
  
  #autoplay:checked + label {
    width: 100%;
    height: 100%;
    background: url(/assets/pause.svg);
    background-repeat: no-repeat;
    background-attachment: cover;
    background-position: center center;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .active #autoplay {
    opacity: 1;
  }
  
  /*============== THOUGHT CAROUSEL (SCENE FOUR) ===============*/
  
  .thought-carousel {
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    max-width: 14%;
    max-height: 14%;
  }
  
  #thought-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #thoughtImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .thought1,
  .thought2,
  .thought3 {
    object-fit: contain;
    object-position: center center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
  }
  
  /*CREATE NEW BLOG POST SECTION*/
  
  input {
    width: 100%;
    margin: 1em auto;
  }
  
  textarea {
    width: 100%;
    margin: 1em auto;
    resize: vertical;
  }
  
  .tags__input {
    margin-bottom: 0;
  }
  
  .tags-list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    list-style-type: none;
    background: white;
    padding: 0;
  }
  
  .tags__item {
  }
  
  .tags__item-name {
    width: 100%;
    background-color: white;
    border: none;
    text-align: left;
  }
  
  .tags__item-name:hover {
    background: rgba(219, 208, 208, 0.5);
  }
  
  .tags__rendered-tag {
    display: inline-block;
    line-height: normal;
    color: #2b5777;
    border-radius: 5px;
    background-color: #e1ecf4;
    padding: 4px;
    cursor: text;
    margin-bottom: 10px;
  }
  
  .tags__rendered-tag + .tags__rendered-tag {
    margin-left: 10px;
  }
  
  .tags__rendered-tag--delete {
    position: relative;
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    line-height: 50%;
    border: 3px solid #e1ecf4;
    border-radius: 3px;
    box-sizing: content-box;
    fill: #2b5777;
  }
  
  .tags__rendered-tag--delete:hover {
    background: #2b5777;
    border: 3px solid #2b5777;
  }
  
  .tags__rendered-tag--delete-svg {
    /* fill: red; */
  }
  
  .tags__rendered-tag--delete-svg-path {
    fill: red;
    opacity: 1;
  }
  
  .tags__rendered-tag--delete-svg:hover,
  .tags__rendered-tag--delete:hover {
    fill: #e1ecf4;
  }
  
  /* RECENT POSTS SECTION*/
  
  .post-container {
    font-family: "Permanent Marker", cursive;
    width: 100%;
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-template-rows: 210px 210px 210px 210px 210px 210px 210px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    justify-content: center;
    margin-bottom: 40px;
    /* align-items: center; */
  }
  
  .post-container h2 {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: calc(50% - 0.8em);
  }
  
  .post-container a {
    text-decoration: none;
  }
  
  .latest {
    font-family: "Permanent Marker", cursive;
    background: #afec6a;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    /* border: 3px solid #111; */
    border-radius: 10px;
  }
  
  .life {
    font-family: "Permanent Marker", cursive;
    background: #faf557;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    /* border: 3px solid #111; */
    border-radius: 10px;
  }
  
  .learn {
    font-family: "Permanent Marker", cursive;
    background: #7fd9cf;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    /* border: 3px solid #111; */
    border-radius: 10px;
  }
  
  .fun {
    font-family: "Permanent Marker", cursive;
    background: #ef9ab9;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    /* border: 3px solid #111; */
    border-radius: 10px;
  }
  
  .all-posts {
    font-family: "Permanent Marker", cursive;
    background: #afec6a;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    /* border: 3px solid #111; */
    border-radius: 10px;
  }
  
  .blockO h3 {
    background: #afec6a;
  }
  
  .blockT h3 {
    background: #faf557;
  }
  
  .blockL h3 {
    background: #7fd9cf;
  }
  
  .blockS h3 {
    background: #ef9ab9;
  }
  
  .post {
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 1);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .post:hover {
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 1);
    transition: all 0.25s ease-in-out;
  }
  
  .post h3 {
    padding-top: 0.2em;
    height: 92px;
    width: 100%;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    position: relative;
  }
  
  .block-post {
    border-right: 15px solid black;
    border-bottom: 15px solid black;
    background-size: contain;
    position: relative;
  }
  
  .block-post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 15px;
    height: 15px;
  }
  
  .block-post:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent;
    width: 30px;
    height: 30px;
    border-top: 15px solid white;
    border-left: 15px solid white;
  }
  
  /* .shine {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
  
      .shine:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
  
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%);
      }
  
      .shine:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
      }
  
      .shine:active:after {
        opacity: 0;
      } */
  
  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    background: #fdfdfd;
    /* padding: 5em 5em 0em 5em; */
    padding: 80px 80px 0em 80px;
    /* padding: 2.5em 5vw 0em 5vw; */
    box-shadow: 5px 10px 10px 0px #000000;
  }
  
  figure {
    margin: 0;
  }
  
  .blog-post__main-image {
    object-fit: contain;
    width: 100%;
  }
  
  .blog-post__main-image-caption {
    opacity: 0.5;
    text-align: right;
  }
  
  .blog-post__subtitle {
    font-style: italic;
  }
  
  .blog-post__headers {
    font-family: "Permanent Marker", cursive;
  }
  
  /* BLOG POST COMMENTS SECTION */
  
  .loginToComment {
    padding: 5px;
    margin: 20px 0px 20px 0px;
    background: #e1ecf4;
    /* opacity: 0.5; */
    width: 100%;
    /* border: 1px solid #757575; */
    border-radius: 0px 10px 0px 10px;
    text-align: center;
  }
  
  #writeComment {
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
  }
  
  #addComment {
    border: 1px solid #111;
    border-radius: 5px;
  }
  
  #addComment:active {
    /* background: #717272; */
    transform: scale(0.9);
  }
  
  .user-comments {
    text-align: left;
    position: relative;
    width: 100%;
    padding: 0em 80px 0em 80px;
    background: #fdfdfd;
    box-shadow: 5px 10px 10px 0px #000000;
  }
  
  .user-comments__comment {
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 10px;
    background: #e1ecf4;
    /* border: 1px solid #111; */
    border-radius: 0px 10px 0px 10px;
  }
  
  .user-comments__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* .user-comments__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      } */
  
  .blog-post__user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .user-comments__username {
    margin: 0px 10px;
    font-size: 12px;
    color: #757575;
  }
  
  .user-comments__date {
    margin: 0px 10px;
    font-size: 12px;
    color: #757575;
  }
  
  .user-comments__body {
    margin-bottom: 0;
  }
  
  .user-comments__username {
    display: inline-block;
    flex-direction: column;
  }
  
  /*===============MEDIA QUERIES================*/
  /* https://www.uxpin.com/studio/blog/media-queries-responsive-web-design/ - this article explains the difference between 'device-width' and 'width' for setting media query breakpoints*/

  @media only screen and (max-width: 731px) {
    .menuTabs {
      display: none;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    body {
      margin: auto;
      text-align: center;
      background-color: #c18e67;
      background-image: url(/assets/desk_background.svg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      padding: 0px;
    }
  
    .page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  
    .header {
      width: 100%;
      position: relative;
      background: #fdfdfd;
      padding: 2.5em 2.5em 0em 2.5em;
    }
  
    .education,
    .experience,
    .skills,
    .interests,
    .whyCoding,
    .whyFAC {
      text-align: left;
      line-height: 0.5em;
      position: relative;
      width: 100%;
      padding: 0em 2.5em 0em 2.5em;
      background: #fdfdfd;
    }
  
    .footer {
      width: 100%;
      position: relative;
      background: #fdfdfd;
      padding: 2.5em 2.5em 1em 2.5em;
    }
  
    .introOne {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .introIconOne {
      position: relative;
      width: 100%;
      max-width: 250px;
      order: 1;
    }
  
    .introTextOne {
      margin: 0 auto;
      position: relative;
      width: 100%;
      order: 2;
    }
  
    .introTwo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .introIconTwo {
      position: relative;
      width: 100%;
      max-width: 250px;
      order: 1;
    }
  
    .introTextTwo {
      margin: 0 auto;
      position: relative;
      width: 100%;
      order: 2;
    }
  
    .storyContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      height: 100%;
      z-index: 2;
    }
  
    .panelOne {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin-left: 10px;
      margin-top: 20px;
      transform: rotate(2deg);
      order: 1;
    }
  
    .storyOne {
      font-family: "Indie Flower", cursive;
      font-size: 18px;
      position: relative;
      width: 90%;
      height: 100%;
      padding: 0em 1em 0em 1em;
      background: #a1d350;
      order: 2;
      margin-right: 10px;
      transform: rotate(-2deg);
    }
  
    .storyOne:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
      width: 100%;
      margin-top: -13px;
      background: url(/assets/green_postit.svg) bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  
    .panelTwo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin-right: 10px;
      margin-top: -10px;
      transform: rotate(-2deg);
      order: 1;
    }
  
    .storyTwo {
      font-family: "Indie Flower", cursive;
      font-size: 18px;
      position: relative;
      width: 90%;
      height: 100%;
      padding: 0em 1em 0em 1em;
      background: #ffff00;
      margin-left: 10px;
      transform: rotate(2deg);
      order: 2;
    }
  
    .storyTwo:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
      width: 100%;
      margin-top: -13px;
      background: url(/assets/yellow_postit.svg) bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  
    .storyThree {
      font-family: "Indie Flower", cursive;
      font-size: 18px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: 100%;
      padding: 0em 1em 0em 1em;
      background: #95d5cd;
      order: 2;
      margin-left: -10px;
      transform: rotate(-2deg);
      z-index: 4;
    }
  
    .storyThree:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
      width: 100%;
      margin-top: -13px;
      background: url(/assets/blue_postit.svg) bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  
    .storyFour {
      font-family: "Indie Flower", cursive;
      font-size: 18px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: 100%;
      padding: 0em 1em 0em 1em;
      background: #d277b0;
      margin-left: 10px;
      transform: rotate(2deg);
      order: 1;
    }
  
    .storyFour:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
      width: 100%;
      margin-top: -13px;
      background: url(/assets/pink_postit.svg) bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
  